<div>

    <span class="resort">Pacific Trails Resort</span><br />
    12010 Pacific Trails Road<br />
    Zephyr, CA 95555<br />
    <a id="mobile" href="tel:888-555-5555">888-555-5555</a>
    <span id="desktop">888-555-5555</span><br /><br />

</div>