<!DOCTYPE html>
<!-- 
Name: Activities
File Name: activities.html
Date: 02/28/2020 
Programmer: Richard Brown
-->
<html lang="en">

<%- include('layouts/head');-%>

<body>
    <div id="wrapper">
        <%- include('layouts/header'); -%>
        <%- include('layouts/nav'); -%>
        <div id="trailhero"></div>
        <main>
            <h2>Activities at Pacific Trails</h2>

            <h3>Hiking</h3>
            <p><span class="resort">Pacific Trails Resort</span> has 5 miles of hiking trails and is adjacent to a state park. Go it alone or join of our guided hikes.</p>
            <h3>Kayaking</h3>
            <p>Ocean kayaks are available for guest use.</p>
            <h3>Bird Watching</h3>
            <p>While anytime is a good time for bird watching at Pacific Trails, we offer guided bird-watching trips at sunrise several times a week.</p>

            <br />
            <%- include('layouts/footer'); -%>
        </main>
    </div>
</body>

</html>
